body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 10px 0;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  .hero {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .hero h2 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  .hero p {
    font-size: 18px;
    color: #555;
  }
  
  .content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  .card h3 {
    font-size: 20px;
    margin: 10px;
  }
  
  .card p {
    font-size: 16px;
    margin: 0 10px 10px;
  }
  
  .card button {
    background-color: #ff0044;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
  }
  
  .card button:hover {
    background-color: #e60039;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  /* Стили для мессенджера */
#chat-container {
    display: flex;
    flex-direction: column;
    height: 500px; /* Установите нужную высоту */
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fff;
    overflow: hidden;
  }
  
  #messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
  }
  
  .message {
    margin-bottom: 10px;
  }
  
  #message-form {
    display: flex;
    border-top: 1px solid #ddd;
    background: #f9f9f9;
  }
  
  #message-input {
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 16px;
  }
  
  #message-form button {
    border: none;
    background-color: #ff0044;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  #message-form button:hover {
    background-color: #e60039;
  }
  

  /* Общие стили для профиля */
.profile {
    text-align: center;
    margin-top: 20px;
  }
  
  .profile-info {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .profile-avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
  
  .edit-profile {
    background-color: #ff0044;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .edit-profile:hover {
    background-color: #e60039;
  }
  